
.container{
    max-width: 1200px;
    margin: auto;
}
.manrope{
    font-family: 'Manrope', sans-serif;
}
img{
    width: 100%;
}

input#name, input#email, input#subject, input#Number, textarea#message {
    width: 95%;
}

.my-menu{
    position: relative;
}
.my-menu input#Click:checked ~ ul {
    visibility: visible;
    display: block;
}

.my-menu ul{
    display: none;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
}
.my-menu ul li a{
    color: #fff;
}